@charset "utf-8";

.works {
position: absolute;
width: 100%;
height: 100vh;
top: auto;
left: 100%;
bottom: auto;
right: auto;
background: #7f4a88;
transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.works.active {
left: 0%;
}