.title__text {
  margin-top: 90px;
  font-size: 1.125em;
  position: relative;
  z-index: 100;
}

.about {
  @include position (
    $t: auto,
    $l: -100%,
    $r: auto,
    $b: auto
  );
  @include page-transition;
  width: 100%;
  background-color: $point-color;
  text-align: center;
  display: flex;
  flex-flow: column;
  z-index: 1;
  
  &__page {
    @include size (100%, 100vh);
    @include flex-center;
    // display: table;
  }

  &__wrapper {
    width: 1000px;
  }

  &__skills {
    @include flex-center;
    flex-direction: column;

    &-title {
      font-size: 5.625em;
      text-align: left;
      width: 95%;
      margin-bottom: 75px;
    }

    &-list {
      font-size: 1.3em;
      width: 95%;
      display: flex;
      justify-content: space-between;
    }
    &-item {
      color: $dark-active;
      cursor: pointer;

      &:hover {
        color: #fff;
      }
      &--active {
        color: $point-color;
      }
    }

    &-gauge {
      @include page-transition;
      background-color: $point-color;
      width: 95%;
      $h : 37px; 
      height: $h;
      border-radius: $h / 2; 

      &-box {
        $h: 37px;
        @include size (95%, $h);
        background-color: #fff;
        border-radius: $h / 2;
        margin: 30px 0;
      }
    }

    &-text {
      font-size: 1.125em;
      display: none;
      width: 90%;
      height: 81px;
      text-align: left;

      &--active {
        display: block;
      }
    }
  }
  &__career {
    @include flex-center;
    flex-direction: column;
    
    &-title {
      width: 95%;
      font-size: 5.625em;
      text-align: left;
      margin-bottom: 75px;
    }

    &-text {
      width: 95%;
      font-size: 1.625em;
      text-align: left;
      margin-bottom: 20px;
    }
  }

  &--active {
    left: 0%;
    background-color: $dark-bgc;
  }
}