.cursor,
.cursor2,
.cursor3{
  @include position (
    $p: fixed,
    $t: 50%,
    $l: -100px,
    $x: -50%,
    $y: -50%
  );
  position: fixed;
  border-radius: 50%;
  z-index: -1;
}
.cursor{
  @include size (0, 0);
  background-color: #102770;
}
.cursor2,
.cursor3{
  @include size (50px, 50px);
  transition: all 20ms ease-out;
  background-position: center;
  background-size: 0 0;
}
.cursor2{
  border: 3px solid #fff;
  box-shadow: 0 0 12px rgba(16, 39, 112, 0.2);
}