.works {
  @include position (
    $t: auto,
    $l: 100%,
    $r: auto,
    $b: auto
  );
  @include size (100%, 100vh);
  background-color: $point-color;
  transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 1;

  &--active {
    left: 0%;
    background-color: $dark-bgc;
  }
}