.works {
  @include position (
    $t: auto,
    $l: 100%,
    $r: auto,
    $b: auto
  );
  @include size (100%, 100vh);
  @include page-transition;
  background-color: $point-color;
  z-index: 1;

  &--active {
    left: 0%;
    background-color: $dark-bgc;
  }
}