@import "common";
@import "works";
@import "about";

// title
.title {
  text-align: center;
  font-size: 9.375em;
  @include position (
    $t: 50%,
    $l: 50%,
    $x: -50%,
    $y: -50%
  );
}

// menu
.menu {
  @include size (100%, 100vh);
  position: relative;

  article {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__mode-box {
    @include position (
      $t: 0,
      $l: 50%,
      $x: -50%
    );
    @include size (100%, 130px);

    &:hover {
      align-items: flex-start;
    }
  }
  &__works-box {
    @include position (
      $t: 50%,
      $l: 0,
      $y: -50%
      );
    @include size (160px, 100%);

    &:hover {
      justify-content: flex-start;
    }
  }
  &__about-box {
    @include position (
      $t: 50%,
      $r: 0,
      $y: -50%
    );
    @include size (160px, 100%);

    &:hover {
      justify-content: flex-end;
    }
  }
  &__blog-box {
    @include position (
      $l: 50%,
      $b: 0,
      $x: -50%
    );
    @include size (100%, 130px);
    
    &:hover {
      align-items: flex-end;
      height: 30vh;
      background-color: #fff;
    }
  }
      
  h3 {
    cursor: pointer;
    font-size: 1.875em;
    font-weight: 400;

    &:hover {
      color: $point-color;
    }
  }

  &__works {
    transform: rotate(-90deg);
  }
  &__about {
    transform: rotate(90deg);
  }
}



