@import "common";
// @import "cursor";
@import "works";
@import "about";

// title
.title {
  font-size: 9.375em;
  
  &-box {
    @include flex-center;
    flex-wrap: wrap;
    text-align: center;
  }
  &--active {
    position: relative;
    z-index: 100;
  }
}

.logo {
  position: absolute;
  width: 140px;
  left: 50px;
  top: 40px;
}

// menu
.menu {
  @include size (100%, 100vh);
  display: flex;
  justify-content: space-between;
  position: relative;
  
  &__center {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  article {
    @include page-transition;
    position: relative;
  }


  &__mode { // top
    &-box { 
      @include size (100%, 130px);
      @include flex-center;
    }
  }
  
  &__blog { // bottom
    &-box { 
      @include size (100%, 130px);
      @include flex-center;
    }
  }

  &__works { // left
    transform: rotate(-90deg);

    &-box {
      @include size (160px, 100%);
      @include flex-center;
      justify-content: flex-start;
      @include hover ($w: 50%);
      @include active ($w: 80px);

      &:hover {
        border-right: solid 1px #eee;
      }
      &--active {
        border-right: solid 1px #eee;
        &:hover{
          width: 80px;
          border: none;
        }
        h3 {
          transform: translateX(-25%) rotate(-90deg);
        }
      }
    }
  }

  &__about { // right
    transform: rotate(90deg);

    &-box { 
      order: 3;
      flex-grow: 0;
      @include size (160px, 100%);
      @include flex-center;
      justify-content: flex-end;
      @include hover ($w: 50%);
      @include active ($w: 80px);
      &:hover {
        border-left: solid 1px #eee;
      }
      &--active {
        &:hover {
          width: 80px;
          border: none;
        }
        h3 {
          transform: translateX(25%) rotate(90deg);
        }
      }
    }
  }

  h3 {
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.875em;
    font-weight: 400;

    &:hover {
      color: $point-color;
    }
  }
}